{% extends 'base.html.twig' %}

{% block title %}New AdAccount{% endblock %}

{% block body %}
    <h1>Create new AdAccount</h1>

    {{ include('ad_account/_form.html.twig') }}

    <a href="{{ path('ad_account_index') }}">back to list</a>
{% endblock %}
